<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
    <test name="Test">
        <classes>
            <class name="com.lujiatao.c10.TestNGTestAnnotationDataProvider"/>
        </classes>
    </test>
</suite>